.buttonIcon{
    block-size: 2.5rem;
    inline-size: 2.5rem;
    background: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: var(--gray10);
}

.buttonIcon.is-white{
    background: var(--myWhite);
    color: var(--gray50);
}

.buttonIcon.is-normal{
    color: white;
    background: transparent;
    border: 1px solid var(--myWhite);
    font-size: .8rem;
}

.buttonIcon.is-normalHeart{
    color: white;
    background: transparent;
    font-size: 1rem;
}

.buttonIcon.is-primary{
    background: var(--primaryColor);
    color: var(--myWhite);
}

.buttonIcon .icon-play{
    position: relative;
    left: .0555555555555556rem;
    top: .0555555555555556rem;
}

.buttonIcon:hover:is([class*='is-']) {
    box-shadow: 0 8px 8px rgba(0, 0, 0, .3);
}

.buttonIcon:active{
    transform: scale(.95);
}
