.ellipsis{
    overflow: hidden;
}

.ellipsis > * {
    display: block;
    white-space: nowrap;
    /* white-space: nowrap es para que lo elementos no ocupen otra debajo linea y se acomoden solamente en su propia linea */
    overflow: hidden;
    text-overflow: ellipsis;
}
