.playlistB{
    background: rgba(255, 255, 255, .1);
    display: flex;
    inline-size: 16rem;
    border-radius: .5rem;
    overflow: hidden;
    transition: .3s background;
}

.playlistB:hover, .playlistB:focus-within{
    background: rgba(255, 255, 255, .2);

}

.playlistB-details{
    display: flex;
    padding: 1rem;
    gap: .5rem;
    align-items: center;
}

.playlistB-cover img{
    vertical-align: middle;
    inline-size: 4.75rem;
    block-size: 4.75rem;
}

.playlistB-title{
    font: var(--baseFontBold);
    color: var(--myWhite);
    margin: 0;
}

.playlistB-control{
    opacity: 0;
    transition: .3s;
}

.playlistB:hover .playlistB-control, .playlistB:focus-within .playlistB-control{
    opacity: 1;

}
