@import './playlist-a.css';
@import './playlist-b.css';

.playlistList{

}

/* .playlistList-container::-webkit-scrollbar{
    display: none;
} */

.playlistList-top{
    padding-block-end: .5rem;
    padding-block-start: .5rem;
    margin-block-end: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.playlistList-container{
    display: flex;
    overflow-x: auto;
    gap: 1rem;
}

.playlistList-title{
    font: var(--headline2);
    color: var(--myWhite);
    margin: 0;
}