.encabezado{
    display: flex;
    block-size: 12.77777777777778rem;
    inline-size: 35.55555555555556rem;
    gap: 2.4rem;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    margin-block-end: 1rem;
}

.encabezadoCover{
    overflow: hidden;
    padding: 0;
    margin: 0;

}

.encabezadoCover img{
    block-size: 12.77777777777778rem;
    inline-size: 12.77777777777778rem;

}

.encabezadoDetails{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.encabezadoTitle{
    font: var(--headline1);
    color: var(--myWhite);

}


.encabezadoDetails h3{
    margin: 0;
}

.encabezadoDetails button h3{
    font-size: 1rem;
}

.encabezadoButton{
    position: absolute;
    bottom: 0;
}

.encabezadoButton-icon{
    inline-size: 8.5rem;
    block-size: 1.777777777777778rem;
    background: transparent;
    border-radius: 3.888888888888889rem;
    border: none;
    cursor: pointer;
    background: var(--primaryColor);
    color: var(--myWhite);
}


.slipknotPage-block{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    overflow: hidden;
    /* align-items: flex-start; */
}



.songFilter{
    margin-block-start: 1rem;
    display: flex;
    gap: .5rem;
    position: relative;
    margin-bottom: 2.2222222222222222222222222222222rem;
}

.songFilter span{
    padding-inline-start: 1.5rem;
}

.songFilter i{
    position: absolute;
    font-size: 1rem;
    top: calc(50% - .5rem);
    /* el calculo que hacemos en top es para que la lupa se centre y sea escalable, es decir que permanezca centrado aunque cambie el tamaño del elemento. */
    block-size: 1rem;
}

.songDetails{
    display: flex;
    gap: 12.77777777777778rem;
    padding-inline-start: 5rem;
    justify-content: space-between;
}

.songDetails-details{
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 2rem;
}

.songDetails-date{
    display: flex;
    align-items: center;
    inline-size: 8.333333333333333rem;
    gap: 3.888888888888889rem;
}

.songList{
    color: var(--myWhite);
    display: flex;
    align-items: flex-start;
    font: var(--baseFont);
}

.songList li{
    list-style: none;
    display: flex;
    /* border: 1px solid green; */
    align-items: center;
    gap: 1.1rem;
    
}

.songList ul{
    padding: 0;
}

/* DIVIDIR Y ANIDAR LOS ITEMS Y LAS DESCRIPCIONES DE ARRIBA (TITULO, ARTISTA, ETC) EN COLUMNAS MEJOR, PARA PODER ALINEAR DE MANERA MAS SENCILLA */